<md-card>
  <md-card-header>
    <md-card-title>Valira</md-card-title>
    <md-card-subtitle>Card subtitle</md-card-subtitle>
  </md-card-header>
  <img md-card-image 
  src="http://img10.deviantart.net/c522/i/2015/016/e/7/valeera_sanguinar_by_spiritaj-d8e418f.png"
  style="height: 100%; width: 500px"/>
  <md-card-content>
    <h1>A Lenda da Ladina</h1>
    <p>
      Órfã logo cedo, a elfa sangrenta Valira Sanguinar passou a maior parte da<br>
      juventude nas ruas, roubando para sobreviver. Depois de ser presa por um roubo <br>
      que não deu certo, ela foi vendida para Rehgar Fúria da Terra, um treinador de <br>
      gladiadores de visão, viu o potencial de luta de Valira. Rehgar juntou Valira ao <br>
      Druida elfo noturno Broll Mantursino, e a um misteriso e forte humano, que não <br>
      conseguia lembrar quem era nem como fora parar em território órquico.
    </p>
  </md-card-content>
</md-card>