<md-card>
  <md-card-header>
    <md-card-title>NOVA</md-card-title>
    <md-card-subtitle>Card subtitle</md-card-subtitle>
  </md-card-header>
  <img md-card-image 
  src="https://i.ytimg.com/vi/OLDqki6rMGc/maxresdefault.jpg"
  style="height: 100%; width: 500px"/>
  <md-card-content>
    <h1>Nova</h1>
    <p>
      Nova é uma Assassina de longo alcance, da franquia de Starcraft. Em Starcraft, seus deveres como <br>
      Fantasma incluíam combater os zergs, investigar os assassinos psiônicos conhecidos como Espectros e até mesmo <br>
      cuidar de Jim Raynor. Em Heroes, a parte de cuidar do Raynor ficou para trás, e a parte de assassinar foi expandida  <br>
      para ‘tudo que passa pela sua frente’. Essa assassina se destaca por ter a capacidade de ficar invisível no campo de  <br>
      batalha, e causar uma quantidade imensa de dano em um período muito curto de tempo – os chamados bursts. Mas  <br>
      se essas duas características não forem o suficiente para você derrotar o inimigo antes dele chegar te alcançar, você <br>
      tem um problema. Nova é extremamente frágil, e não aguenta quase nada de dano. Resumindo… entre, mate, e saia.
    </p>
  </md-card-content>
  <md-progress-spinner color="accent" mode="indeterminate"></md-progress-spinner>
</md-card>