.card {
    margin-left: 20px;
    width: 93.5%;
    margin-top: 20px;
    height: 100%;
}
.my-pagination /deep/ .ngx-pagination .current {
    background: #673ab7;
  }
  .nopadding{padding: 0 !important;}
  .profile-data-card{
  border-radius: 3px 0 0 3px; 
  min-height: 291px !important; 
  padding-left:35px !important;
  padding-top:65px !important;
}
.profile-action-card{min-height: 243px !important;}
