<md-toolbar color="primary">
  <button md-mini-fab style="background-color:transparent" [mdMenuTriggerFor]="menu">
    <i class="material-icons">reorder</i>
  </button>
  <md-menu #menu="mdMenu">
    <button md-menu-item>
      <i class="material-icons">perm_identity</i>
      <span>Posts</span>
    </button>

    <button md-menu-item>
      <i class="material-icons">power_settings_new</i>
      <span>Users</span>
    </button>
  </md-menu>
  <h2 style="margin-left: 10px">
  Gerenciador
  </h2>
</md-toolbar>

<md-toolbar style="background-color:blueviolet">
</md-toolbar>

<!-- -------------------------------------------------------------------------- -->

<md-card class="card">
<h1 >
  {{title}} 
</h1>
</md-card>

<md-card class="card">
  <app-list-index></app-list-index>
</md-card>