<md-card class="card">
<div fxLayout="column" fxLayoutAlign="center center">

  <div fxLayout="row" fxLayoutAlign="center canter" style="margin-top: 20px">
    <md-input-container style="width: 310px">
      <input mdInput type="url" readonly placeholder="Upload da imagem do produto">
    </md-input-container>

     <button md-mini-fab style="margin-left:20px">
        <i class="material-icons">file_upload</i>
     </button>
  </div>

<table align="center">
  <tr>
    <td>
      <md-input-container style="width: 310px; margin-right: 60px;">
      <input mdInput placeholder="Nome do produto">
    </md-input-container>
    </td>

    <td>
      <md-input-container style="width: 310px; margin-right: 60px;">
      <input mdInput placeholder="Preco">
    </md-input-container>
    </td>

  </tr>
  <tr>
    <td>
      <md-input-container style="width: 310px; margin-right: 60px;">
      <input mdInput placeholder="Unidade de medida / Medida">
    </md-input-container>
    </td>
  </tr>
  <tr>
    <td>
      <md-input-container>
      <input mdInput type="date" placeholder="Data inicial">
    </md-input-container>
    </td>

    <td>
      <md-input-container>
      <input mdInput type="date" placeholder="Data final">
    </md-input-container>
    </td>
  </tr>
</table>


  <div fxLayout="row" fxLayoutAlign="space-around none">
    <div fxFlex="20">
    <button md-button>Adicionar</button>
    </div>
    <div fxFlex></div>
    <div fxFlex="30">
    <button md-button>Enviar</button>
    </div>
  </div>
</div>
</md-card>

