  <div fxLayout="row" fxLayoutAlign="center canter" style="margin-top: 20px">
      <md-input-container style="width: 310px">
        <input mdInput type="url" readonly placeholder="Upload da imagem">
      </md-input-container>

      <button md-button style="margin-left:20px">
        Selecione
      </button>
  </div>

  <div fxLayout="row" fxLayoutAlign="center canter" style="margin-top: 20px">
    <div fxFlex="20">
      <md-input-container>
        <input mdInput type="date" placeholder="Data inicial">
      </md-input-container>
    </div>

    <div fxFLex="20">
      <md-input-container>
        <input mdInput type="date" placeholder="Data final">
      </md-input-container>
    </div>
  </div>

  <div fxLayout="column" fxLayoutAlign="space-between center">
    <div fxFLex="10"><button md-button>Adicionar</button></div>
    <div fxFlex></div>
    <div fxFlex="30"><button md-button>Enviar</button></div>
  </div>