<md-card class="card"> 
  <div fxLayout="column" fxLayoutAlign="center center">

    <div fxLayout="row" fxLayoutAlign="center canter" style="margin-top: 20px">
    <md-input-container style="width: 310px">
      <input mdInput type="url" readonly placeholder="Upload do logo">
    </md-input-container>
     <button md-mini-fab style="margin-left:20px">
        <i class="material-icons">file_upload</i>
     </button>
    </div>

    <div fxLayout="row" fxLayoutAlign="center canter" style="margin-top: 20px">
      <md-input-container>
        <input mdInput placeholder="Nome da marca" style="width: 310px; margin-right: 60px;">
      </md-input-container>
    </div>

    <div fxLayout="row" fxLayoutAlign="space-around none" style="margin-top: 20px">
    <button md-button>Enviar</button>
    </div>

  </div>
</md-card>
