    <md-card class="card">
        <h1>Posts</h1>
    </md-card>
    
    <md-card class="card">
    <md-list>
        
        <md-list-item *ngFor="let any of item | paginate: { itemsPerPage: 20, currentPage: p }">
           <div fxLayout="row" style="width: 100%" fxLayoutAlign=" center">
           <p fxFlex>{{any.title}}</p>
           <p fxFlex="10"><a md-mini-fab target="_blank" (click)="info(any.id, any.title, any.body)"><i class="material-icons">visibility</i></a></p>
           </div>
        </md-list-item>
        
    </md-list>
 
    <pagination-controls previousLabel=""
                         align="center" 
                         nextLabel=""
                         autoHide="true"
                         class="my-pagination"
                         (pageChange)="p = $event">
    </pagination-controls>
    </md-card>