<!--<form>
  <md-input-container>
    <input mdInput placeholder="ID" disabled value="">{{post.id}}</input>
  </md-input-container>
</form>

<table>
  <tr><md-input-container><input mdInput placeholder="Titulo">{{post.title}}</input></md-input-container></tr>
  <tr><md-input-container><input mdInput placeholder="Nome do autor">{{user.name}}</input></md-input-container></tr>
  <tr><md-input-container><input mdInput placeholder="Email do autor">{{user.email}}</input></md-input-container></tr>
</table>

  <md-input-container>
    <textarea mdInput placeholder="Conteudo">{{post.body}}</textarea>
  </md-input-container>

  <content>
    <md-list-item *ngFor="let coment of comentarios | paginate: { itemsPerPage: 5, currentPage: p }">
      <div fxLayout="row" style="width: 100%" fxLayoutAlign=" center">
      <p fxFlex><h3>ID: {{coment.id}}</h3></p>
      <p fxFlex><h3>Por: {{coment.name}}</h3></p>
      <p fxFlex><h3>Email: {{coment.email}}</h3></p>
      <p fxFlex><textarea>{{coment.body}}</textarea></p>
      </div>
    </md-list-item>

    <pagination-controls previousLabel=""
                         nextLabel=""
                         autoHide="true"
                         class="my-pagination"
                         (pageChange)="p = $event">
    </pagination-controls>
  </content>-->
<h1>Nome do autor: </h1>
<h2></h2><br>
<h1>Email: </h1>
<h2></h2>
<hr>
  <md-list-item>
<h4>{{post.id}}</h4>
<h4>{{post.title}}</h4>
<p>{{post.body}}</p>
  </md-list-item>
<hr>
<ul>
  <li *ngFor="let comment of comments">
    <md-list-item>
    <h4>{{comment.id}}</h4>
    <h4>{{comment.name}}</h4>
    <h4>{{comment.email}}</h4>
    <h4>{{comment.body}}</h4>
    </md-list-item>
    <hr> 
  </li>
</ul>