  <div fxLayout="column" fxLayoutAlign="center center">
    <div fxFlex="30">
    <md-input-container>
      <input mdInput type="url" #logo placeholder="Link do logo da marca" value="{{mark.logo}}">
    </md-input-container>
    </div>
    <div fxFlex="auto"></div>
    <div fxflex="20">
      <md-input-container>
        <input mdInput #name placeholder="Nome da marca" value="{{mark.name}}">
      </md-input-container>
    </div>
    <div fxFlex="auto"></div>
  </div>

   <div fxLayout="row" fxLayoutAlign="space-around none">
     <div fxFlex="auto"></div>
    <div fxFlex="7">
    <button md-button routerLink="/mark">Cancelar</button>
    </div>
    <div fxFlex="2"></div>
    <div fxFlex="7">
    <button md-button (click)="saveEdit(mark.id,name.value, logo.value)">Salvar</button>
    </div>
    <div fxFlex="auto"></div>
  </div>