    <md-card class="card">
      <h1>Users</h1>
    </md-card>
    
    <md-card class="card">
    <md-list>
        <md-list-item *ngFor="let users of item | paginate: { itemsPerPage: 20, currentPage: p }">
            <div fxLayout="row" style="width: 100%" fxLayoutAlign=" center">
            <p fxFlex>{{users.name}}<a href="/id:{{users.id}}">I</a></p>
           <p fxFlex="10"><a md-mini-fab target="_blank" (click)="info(users.id, users.name, users.username, users.email)"><i class="material-icons">visibility</i></a></p>
            </div>
        </md-list-item>
        
    </md-list>
 
    <pagination-controls previousLabel=""
                         align="center" 
                         nextLabel=""
                         class="my-pagination"
                         (pageChange)="p = $event">
    </pagination-controls>
   </md-card>